// color
$main_color: #211c27;
$background_color: #f5f1f1;

// font
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
$font_color: $main_color;
$font-family-yu: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, 'Arial', "游ゴシック体", YuGothic, "Yu Gothic Medium", "Noto Sans JP", sans-serif;

// width
$content_width_standard: 1000px;

// device width
$small_device_width: 768px;
