@charset "utf-8";
@import "imports";

html {
  color: $font_color;
  font-family: $font-family-yu;
  font-feature-settings: "pkna" 1;
  font-size: 16px;

  body {
    //color: $font_color;
    //font-family: $font-family-humanist-sans-serif;
    //font-size: 16px;
  }
}
