@charset "utf-8";
@import "imports";

html, body {
  box-sizing: border-box;
}

section {
  padding-left: 1rem;
  overflow-wrap: break-word;
  font-family: $font-family-yu;

  @include media(max-width 320px) {
    padding-left: 0.5rem;
  }
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".";
}

section.index {
  margin-bottom: 0;
  min-height: 100vh;
  padding: 1rem;
}

.border-container {
  border: 2px solid $main_color;
}

.title-container {
  display: flex;
  align-items: center;
  margin-left: -4px;
}

.circle {
  border-radius: 4px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 0px 2px $main_color, 0px 0px 0px 6px #fff;
  position: relative;
  margin-right: 0.8rem;

  &::before, &::after {
    position: absolute;
    content: "";
    display: block;
    width: 5px;
    height: 2px;
    top: 3px;
    background-color: $main_color;
  }

  &::before {
    left: 10px;
  }

  &::after {
    right: 10px;
  }
}

section.title {
  h1 {
    font-weight: normal;
    margin-top: 2rem;
  }
}

section.contents, section.links {
  ul.list-of-contents, ul.list-of-accounts {
    padding-left: 1rem;

    li {
      list-style-type: none;
    }
  }
}

a {
  color: $font_color;
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

li {
  margin-bottom: 0.5rem;
}
