@charset "utf-8";
@import "imports";

section {
  padding-left: 1rem;
  overflow-wrap: break-word;

  @include media(max-width 320px) {
    padding-left: 0.5rem;
  }
}

section.pay {
  border: 2px solid $main_color;
  margin: 1rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  min-height: calc(100vh - 2rem);

  @include media(max-width 320px) {
    padding-right: 0;
  }
}

