<section class="border-2 border-solid border-(--main-color) m-4 pb-2 pr-4 max-[320px]:pr-0 pl-4 max-[320px]:pl-2 wrap-break-word">
  <h1 class="text-[2rem] font-bold pt-3 mb-3">Activity</h1>
  <section class="mb-10 max-[320px]:pl-0 max-[320px]:ms-0 pl-4">
    <h2 class="text-2xl font-bold mb-3">Works</h2>
    <h3 class="text-xl font-bold mb-3">Rubygems</h3>
    <dl>
      <dt><a class="text-(--font-color) underline" href="https://rubygems.org/gems/middleman-hatenastar">https://rubygems.org/gems/middleman-hatenastar</a></dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">Middlemanで生成したページにはてなスターを付与するgem</dd>

      <dt><a class="text-(--font-color) underline" href="https://rubygems.org/gems/middleman-somemoji">https://rubygems.org/gems/middleman-somemoji</a></dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">Middleman内でemoji表記を使用でき、emojiのstyleも選択できるようにするgem</dd>

      <dt><a class="text-(--font-color) underline" href="https://rubygems.org/gems/mikoshi">https://rubygems.org/gems/mikoshi</a></dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">ERBを評価した結果のYAMLを用いてECSにdeployするCLI gem (archived)</dd>

      <dt><a class="text-(--font-color) underline" href="https://rubygems.org/gems/openapi3_definition_generator-rails">https://rubygems.org/gems/openapi3_definition_generator-rails</a></dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">config/routes.rb の内容からOpenAPI 3の定義を生成するgem</dd>

      <dt><a class="text-(--font-color) underline" href="https://rubygems.org/gems/unasukecop">https://rubygems.org/gems/unasukecop</a></dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">自分用RuboCop rule集</dd>

      <dt><a class="text-(--font-color) underline" href="https://rubygems.org/gems/redcarpet-render-html_lazy_img">https://rubygems.org/gems/redcarpet-render-html_lazy_img</a></dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">RedcarpetによってMarkdownから生成されるHTMLのimgタグのloading attributeを制御するgem</dd>

      <dt><a class="text-(--font-color) underline" href="https://rubygems.org/gems/middleman-img_loading_attribute">https://rubygems.org/gems/middleman-img_loading_attribute</a></dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">Middlemanによって生成されるHTMLimgタグのloading attributeを制御するgem</dd>
    </dl>
    <p>
      Show all →
      <a class="text-(--font-color) underline" href="https://rubygems.org/profiles/unasuke">&nbsp;https://rubygems.org/profiles/unasuke</a>
    </p>
  </section>

  <section class="mb-10 max-[320px]:pl-0 max-[320px]:ms-0 pl-4">
    <h2 class="text-2xl font-bold mb-3">Open Source Software</h2>
    <h3 class="text-xl font-bold mb-3">Maintainer</h3>
    <dl>
      <dt><a class="text-(--font-color) underline" href="https://github.com/itamae-kitchen/itamae">https://github.com/itamae-kitchen/itamae</a></dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">ChefやAnsibleなどの構成管理ツールのひとつ</dd>

      <dt><a class="text-(--font-color) underline" href="https://github.com/ksss/tori">https://github.com/ksss/tori</a></dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">"very very simple file uploader"</dd>

      <dt><a class="text-(--font-color) underline" href="https://github.com/c-bata/go-prompt">https://github.com/c-bata/go-prompt</a></dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">"A library for building powerful interactive prompts inspired by python-prompt-toolkit"</dd>
    </dl>
    <h3 class="text-xl font-bold mb-3">Contribution</h3>
    <p class="mb-4">
      Show all →
      <a class="text-(--font-color) underline" href="https://github.com/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3Aunasuke+archived%3Afalse+is%3Aclosed+is%3Apublic+-user%3Aunasuke">&nbsp;https://github.com/pulls?utf8=✓&q=is:pr author:unasuke archived:false is:public is:closed -user:unasuke</a>
    </p>
    <h4 class="text-lg font-bold mb-3">Pickups</h4>
    <ul class="list-disc pl-10">
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://github.com/2factorauth/twofactorauth/pull/3871">Update RubyGems.org 2FA status by unasuke · Pull Request #3871 · 2factorauth/twofactorauth</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://github.com/argtable/argtable3/pull/31">Assign execute permission to tools/build by unasuke · Pull Request #31 · argtable/argtable3</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://github.com/itamae-kitchen/itamae/pull/273">Disable mash warnings (review catch up) by unasuke · Pull Request #273 · itamae-kitchen/itamae</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://github.com/inabagumi/neru-camera/pull/37">Call video.play() in dispatched 'loadeddata' event by unasuke · Pull Request #37 · inabagumi/neru-camera</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://github.com/rabbit-shocker/rabbit/pull/116">Add support '--licenses' option in 'rabbit-slide new' by unasuke · Pull Request #116 · rabbit-shocker/rabbit</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://github.com/mikel/mail/pull/1221">Set full path of the ragel source file to rake task by unasuke · Pull Request #1221 · mikel/mail</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://github.com/mikel/mail/pull/1222">Reduce warnings "mismatched indentations" on ruby 2.6 by unasuke · Pull Request #1222 · mikel/mail</a></li>
    </ul>
  </section>

  <section class="mb-10 max-[320px]:pl-0 max-[320px]:ms-0 pl-4">
    <h2 class="text-2xl font-bold mb-3">Talks</h2>
    <dl class="pl-2">
      <dt>2023-08-28 Ruby Association Activity Report 「RubyによるQUICプロトコルの他言語からの移植ならびに独自実装の作成」</dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">
        <ul class="list-disc pl-0">
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://www.ruby.or.jp/ja/news/20230831">「Ruby Association Activity Report」開催報告</a></li>
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://slide.rabbit-shocker.org/authors/unasuke/ruby-association-2022-grant-accomplishment-report/">Ruby Association 2022 grant accomplishment report - unasuke - Rabbit Slide Show</a></li>
        </ul>
      </dd>
      <dt>2023-08-19 RubyKaigi 2023 follow up 「RubyishなQUIC実装の進捗について」</dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">
        <ul class="list-disc pl-0">
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://rhc.connpass.com/event/288535/">RubyKaigi 2023 follow up - connpass</a></li>
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://slide.rabbit-shocker.org/authors/unasuke/rubykaigi-2023-followup/">RubyishなQUIC実装の進捗について - unasuke - Rabbit Slide Show</a></li>
        </ul>
      </dd>
      <dt>2023-08-03 CloudNative Days Fukuoka 2023 「パブリッククラウドにおけるQUIC現状確認2023年8月編」</dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">
        <ul class="list-disc pl-0">
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://event.cloudnativedays.jp/cndf2023/talks/1890">パブリッククラウドにおけるQUIC現状確認2023年8月編 | CloudNative Days Fukuoka 2023</a></li>
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://slide.rabbit-shocker.org/authors/unasuke/rubykaigi-2023/">パブリッククラウドにおけるQUIC現状確認2023年8月編 - unasuke - Rabbit Slide Show</a></li>
        </ul>
      </dd>
      <dt>2023-05-12 RubyKaigi 2023 「Ruby Implementation of QUIC: Progress and Challenges」</dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">
        <ul class="list-disc pl-0">
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://rubykaigi.org/2023/presentations/yu_suke1994.html#day2">Ruby Implementation of QUIC: Progress and Challenges - RubyKaigi 2023</a></li>
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://slide.rabbit-shocker.org/authors/unasuke/rubykaigi-2023/">Ruby Implementation of QUIC: Progress and Challenges - unasuke - Rabbit Slide Show</a></li>
        </ul>
      </dd>
      <dt>2022-09-09 RubyKaigi 2022 「Do Pure Ruby Dream of Encrypted Binary Protocol?」</dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">
        <ul class="list-disc pl-0">
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://rubykaigi.org/2022/presentations/yu_suke1994.html">Do Pure Ruby Dream of Encrypted Binary Protocol? - RubyKaigi 2022</a></li>
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://slide.rabbit-shocker.org/authors/unasuke/rubykaigi-2022/">Do Pure Ruby Dream of Encrypted Binary Protocol? - unasuke - Rabbit Slide Show</a></li>
        </ul>
      </dd>
      <dt>2022-05-14 TechFeed Conference 2022 「Ruby 最新動向」</dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">
        <ul class="list-disc pl-0">
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://techfeed.io/entries/62b9e0753b597c733fba1c5b">Ruby 最新動向（うなすけ） — TechFeed Conference 2022講演より - TechFeed</a></li>
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://slide.rabbit-shocker.org/authors/unasuke/techfeed-conference-2022/">Ruby 最新動向 - unasuke - Rabbit Slide Show</a></li>
        </ul>
      </dd>
      <dt>2021-11-05 CloudNative Days Tokyo 2021 「なぜ我々はクラウドゲーミング基盤をKubernetesに移行したのか」</dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">
        <ul class="list-disc pl-0">
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://event.cloudnativedays.jp/cndt2021/talks/1192">なぜ我々はクラウドゲーミング基盤をKubernetesに移行したのか | CloudNative Days Tokyo 2021</a></li>
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://note.com/unasuke/n/n861b9a5f1ebb">なぜ我々はクラウドゲーミング基盤をKubernetesに移行したのか #CNDT2021｜うなすけ｜note</a></li>
        </ul>
      </dd>
      <dt>2021-09-11 RubyKaigi Takeout 2021 「Ruby, Ractor, QUIC」</dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">
        <ul class="list-disc pl-0">
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://rubykaigi.org/2021-takeout/presentations/yu_suke1994.html">Ruby, Ractor, QUIC by Yusuke Nakamura - RubyKaigi Takeout 2021</a></li>
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://slide.rabbit-shocker.org/authors/unasuke/rubykaigi-takeout-2021/">Ruby, Ractor, QUIC - unasuke - Rabbit Slide Show</a></li>
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://blog.unasuke.com/2021/rubykaigi-takeout-2021/">RubyKaigi Takeout 2021 で発表しました | うなすけとあれこれ</a></li>
        </ul>
      </dd>
      <dt>2021-06-24 Kubernetes Meetup Tokyo #42 「Agones移行物語 ～内製してたツールの上位互換がOSSになっていた～」</dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">
        <ul class="list-disc pl-0">
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://k8sjp.connpass.com/event/214286/">Kubernetes Meetup Tokyo #42 - connpass</a></li>
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://note.com/unasuke/n/neddb8af116fd">Agones移行物語 - Kubernetes Meetup Tokyo 42 #k8sjp｜うなすけ｜note</a></li>
        </ul>
      </dd>
      <dt>2020-09-09 CloudNative Days Tokyo 2020 「OOParts - Stateless Cloud Gaming Architecture -」</dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">
        <ul class="list-disc pl-0">
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://event.cloudnativedays.jp/cndt2020/talks/37">OOParts - Stateless Cloud Gaming Architecture - | CloudNative Days Tokyo 2020</a></li>
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://note.com/unasuke/n/n0f154a1795b1">OOParts -Stateless Cloud Gaming Architecture- #CNDT2020｜うなすけ｜note</a></li>
        </ul>
      </dd>
      <dt>2020-09-03 CEDEC 2020 「クラウドゲーミング最新開発事例 ～次世代のゲーム体験を追求していく～」</dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">
        <ul class="list-disc pl-0">
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://cedec.cesa.or.jp/2020/session/detail/s5e7f9a66d0c16">CEDEC2020: クラウドゲーミング最新開発事例 ～次世代のゲーム体験を追求していく～</a></li>
          <li class="mb-1"><a class="text-(--font-color) underline" href="https://speakerdeck.com/oliver_diary/kuraudogeminguzui-xin-kai-fa-shi-li-number-cedec2021">クラウドゲーミング最新開発事例 - #CEDEC2020 - Speaker Deck</a></li>
        </ul>
      </dd>
    </dl>
  </section>

  <section class="mb-10 max-[320px]:pl-0 max-[320px]:ms-0 pl-4">
    <h2 class="text-2xl font-bold">Slides</h2>
    <p>
      Show all →
      <a class="text-(--font-color) underline" href="/slides">&nbsp;/slides</a>
    </p>
    <ul class="list-disc pl-10 mt-4">
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://slide.rabbit-shocker.org/authors/unasuke/">https://slide.rabbit-shocker.org/authors/unasuke/</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://github.com/search?o=desc&q=user%3Aunasuke+topic%3Aslide&s=updated&type=Repositories">https://github.com/search?o=desc&q=user%3Aunasuke+topic%3Aslide&s=updated&type=Repositories</a></li>
    </ul>
  </section>

  <section class="mb-10 max-[320px]:pl-0 max-[320px]:ms-0 pl-4">
    <h2 class="text-2xl font-bold mb-3">Articles</h2>
    <h3 class="text-xl font-bold mb-3">Repro</h3>
    <ul class="list-disc pl-10 mb-4">
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://tech.repro.io/entry/2021/12/14/100000">Repro のサーバーサイド開発環境を M1 Mac に対応させるまでの道のり(撤退編) - Repro Tech Blog</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://tech.repro.io/entry/2021/11/19/150000">Repro のサーバーサイド開発環境を M1 Mac に対応させるまでの道のり - Repro Tech Blog</a></li>
    </ul>
    <h3 class="text-xl font-bold mb-3">Bank</h3>
    <ul class="list-disc pl-10 mb-4"> 
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://bankinc.hatenablog.com/entry/2019/07/29/170000">急に外部APIとの通信が "dh key too small" で失敗するようになったのはなぜ？ - BANK tech blog (archive)</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://bankinc.hatenablog.com/entry/2019/07/10/150000">社内GPU機の構成をItamaeで管理するようにしたことと、その反省点について - BANK tech blog (archive)</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://bankinc.hatenablog.com/entry/2019/04/24/150000">オフィスネットワークを刷新し、Cisco Merakiを導入しました。 - BANK tech blog (archive)</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://bankinc.hatenablog.com/entry/2019/04/23/160000">RubyKaigi 2019に弊社から2人が業務扱いで参加してきました - BANK tech blog (archive)</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://bankinc.hatenablog.com/entry/2018/12/06/150000">Japan Container Days v18.12 参加レポート - BANK tech blog (archive)</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://bankinc.hatenablog.com/entry/2018/11/21/150000">sidekiq-cronアップデートへの道のり - BANK tech blog (archive)</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://bankinc.hatenablog.com/entry/2018/10/15/150000">Google Cloud NEXT'18 in Tokyoで登壇しました - BANK tech blog (archive)</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://bankinc.hatenablog.com/entry/2018/09/18/150000">大量のPush通知をCloud Functions経由で送信する - BANK tech blog (archive)</a></li>
    </ul>
    <h3 class="text-xl font-bold mb-3">spice life</h3>
    <ul class="list-disc pl-10 mb-4">
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://web.archive.org/web/20190909055810/http://blog.spicelife.jp/entry/2017/12/05/124306">弊社エンジニア2名が福岡Ruby会議02前夜祭でLTをしてきました - スパイスな人生 (web.archive.org)</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://web.archive.org/web/20190909055736/http://blog.spicelife.jp/entry/2017/11/24/165708">STEERSのSSL/TLS証明書をACMのDNS Validationで発行したものに差し替えました - スパイスな人生 (web.archive.org)</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://web.archive.org/web/20190909055653/http://blog.spicelife.jp/entry/2017/09/05/183605">ridgepoleのapplyをECS RunTaskで実行するようにしました - スパイスな人生 (web.archive.org)</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://web.archive.org/web/20190909055609/http://blog.spicelife.jp/entry/2017/07/06/140349">RailsアプリをECSで運用するまでにやったこと、これからしていくこと - スパイスな人生 (web.archive.org)</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://web.archive.org/web/20190909055239/http://blog.spicelife.jp/entry/2017/03/14/114041">AWS CloudWatch Eventsをcronとして使う powered by maekawa - スパイスな人生 (web.archive.org)</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://web.archive.org/web/20190909055326/http://blog.spicelife.jp/entry/2017/02/24/113544">社全体で使うrubocop.ymlを定義して、TMIXとSTEERSに適用しました - スパイスな人生 (web.archive.org)</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://web.archive.org/web/20190909055459/http://blog.spicelife.jp/entry/2016/06/24/145823">Dockercon 2016に参加してきました - スパイスな人生 (web.archive.org)</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://web.archive.org/web/20190909055427/http://blog.spicelife.jp/entry/2016/06/16/152330">spicelifeのエンジニアは、どんな開発環境で仕事をしているの？ - スパイスな人生 (web.archive.org)</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://web.archive.org/web/20190909055606/http://blog.spicelife.jp/entry/2015/12/22/145028">TMIXのRailsを4.2.5にアップデートしました。 - スパイスな人生 (web.archive.org)</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://web.archive.org/web/20190909055310/http://blog.spicelife.jp/entry/2015/07/13/181718">新卒がまたtmixのRailsを4.1に上げた話 - スパイスな人生 (web.archive.org)</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://web.archive.org/web/20190909055302/http://blog.spicelife.jp/entry/2015/04/20/181533">新卒エンジニアが入社早々tmixのRailsメジャーバージョンアップをした話 - スパイスな人生 (web.archive.org)</a></li>
    </ul>
  </section>

  <section class="mb-10 max-[320px]:pl-0 max-[320px]:ms-0 pl-4">
    <h2 class="text-2xl font-bold mb-3">Communities</h2>
    <dl class="pl-1">
      <dt><a class="text-(--font-color) underline" href="http://kosen10s.net/">Kosen10s http://kosen10s.net/</a></dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">2010年に高専入学した人のコミュニティ</dd>

      <dt><a class="text-(--font-color) underline" href="https://kosendj-bu.in/">高専DJ部 https://kosendj-bu.in/</a></dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">「高専DJ部」は高専生やそのOB/OGが集まってDJをやる部活動です。 (as organizer)</dd>

      <dt><a class="text-(--font-color) underline" href="http://kosenconf.jp/">高専カンファレンス http://kosenconf.jp/</a></dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">「高専カンファレンス」とは、その名称を用いて行われる、高等専門学校および高専生をテーマとする、勉強会をはじめとした各種活動（以下、「個別の活動」と言う）の総称、およびその集合体（以下、「コミュニティ」と言う）の名称のことを言います。</dd>

      <dt><a class="text-(--font-color) underline" href="https://rails.terakoya.io/">Rails寺子屋 https://rails.terakoya.io/</a></dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">Rails寺子屋はWebアプリを作るための強力なツール"Ruby on Rails"を使ってWebアプリ作りを実践しながら学ぶイベントです。</dd>

      <dt><a class="text-(--font-color) underline" href="https://killncel.club/">キリンセル https://killncel.club/</a></dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">「キリンセル」は、うなすけと蜘蛛糸まなによる同人サークルです。</dd>

      <dt><a class="text-(--font-color) underline" href="https://kaigionrails.org/">Kaigi on Rails https://kaigionrails.org/</a></dt>
      <dd class="mb-6 ms-6 max-[320px]:ms-0 max-[320px]:ml-0">Kaigi on Railsのコアコンセプトは 「初学者から上級者までが楽しめるWeb系の技術カンファレンス」 です。 (as organizer)</dd>
    </dl>
  </section>

  <section class="mb-8 max-[320px]:pl-0 max-[320px]:ms-0 pl-4">
    <h2 class="text-2xl font-bold mb-3">Portfolios</h2>
    <ul class="list-disc pl-10">
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://portfolio.forkwell.com/@unasuke">https://portfolio.forkwell.com/@unasuke</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://findy-code.io/share_profiles/m7ClIczJlzhvs">https://findy-code.io/share_profiles/m7ClIczJlzhvs</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://job-draft.jp/users/7624">https://job-draft.jp/users/7624</a></li>
      <li class="mb-1"><a class="text-(--font-color) underline" href="https://lapras.com/public/VBGTNM6">https://lapras.com/public/VBGTNM6</a></li>
    </ul>
  </section>

  <a class="text-(--font-color) underline" href="/">Back to index</a>
</section>
