--- 
 title: "unasuke.com"
--- 

= stylesheet_link_tag :index

section.index
  div.border-container
    div.title-container
      div.circle
      section.title
        h1.site-title
          | unasuke.com
    section.contents
      ul.list-of-contents
        li
          a.link[href="/aboutme"]
            | About me
        li
          a.link[href="/activity"]
            | Activity
        li
          a.link[href="/sponsor"]
            | Sponsor
        li
          a.link[href="/slides"]
            | Slides
        li
          a.link[href="https://blog.unasuke.com"]
            | Blog
        li
          a.link[href="https://docs.google.com/forms/d/e/1FAIpQLSf-loEvN1RZdezkEWPBwNLygM3IjPkJbhGVStRTmm-jk3oXiw/viewform" target="_blank"]
            | Contact (Google Forms)
    section.links
      ul.list-of-accounts
        li
          | Twitter : 
          a(href="https://twitter.com/yu_suke1994") yu_suke1994
        li
          | GitHub : 
          a(href="https://github.com/unasuke") unasuke
        li
          | Mastodon : 
          a(href="https://mstdn.unasuke.com/@unasuke" rel="me") unasuke@mstdn.unasuke.com
        li
          | Keybase.io : 
          a(href="https://keybase.io/unasuke") unasuke
        li
          | note.com : 
          a(href="https://note.com/unasuke") unasuke
        li
          | mixi.social : 
          a(href="https://mixi.social/@unasuke") @unasuke
        li
          | LinkedIn :
          a(href="https://www.linkedin.com/in/unasuke-7b9240187/") https://www.linkedin.com/in/unasuke-7b9240187/
