---
title: "unasuke.com"
---

<%= stylesheet_link_tag :index %>

<section class="index">
  <div class="border-container">
    <div class="title-container">
      <div class="circle"></div>
      <section class="title">
        <h1 class="site-title">unasuke.com</h1>
      </section>
    </div>
    <section class="contents">
      <ul class="list-of-contents">
        <li><a class="link" href="/aboutme">About me</a></li>
        <li><a class="link" href="/activity">Activity</a></li>
        <li><a class="link" href="/sponsor">Sponsor</a></li>
        <li><a class="link" href="/slides">Slides</a></li>
        <li><a class="link" href="/pay">Pay to unasuke</a></li>
        <li><a class="link" href="https://blog.unasuke.com">Blog</a></li>
        <li><a class="link" href="https://docs.google.com/forms/d/e/1FAIpQLSf-loEvN1RZdezkEWPBwNLygM3IjPkJbhGVStRTmm-jk3oXiw/viewform" target="_blank">Contact (Google Forms)</a></li>
      </ul>
    </section>
    <section class="links">
      <ul class="list-of-accounts">
        <li>Twitter : <a href="https://twitter.com/yu_suke1994">yu_suke1994</a></li>
        <li>GitHub : <a href="https://github.com/unasuke">unasuke</a></li>
        <li>Mastodon : <a href="https://mstdn.unasuke.com/@unasuke" rel="me">unasuke@mstdn.unasuke.com</a></li>
        <li>Keybase.io : <a href="https://keybase.io/unasuke">unasuke</a></li>
        <li>note.com : <a href="https://note.com/unasuke">unasuke</a></li>
        <li>mixi.social : <a href="https://mixi.social/@unasuke">@unasuke</a></li>
        <li>LinkedIn : <a href="https://www.linkedin.com/in/unasuke-7b9240187/">https://www.linkedin.com/in/unasuke-7b9240187/</a></li>
      </ul>
    </section>
  </div>
</section>
