---
  title: "タワーマンの孤独 歌詞"
---

section.lyric
  section.lyric-title
    h1 タワーマンの孤独
  section.meta
    p
      | 作詞・作曲(prompt):&nbsp;
      a href="https://x.com/chiastolite" chiastolite
    p
      | 編曲:&nbsp;
      a href="https://x.com/kashino_tsukune" 樫野創音
  section.lyric-body
    p 1.
    p
      | 高層ビルの最上階 ここが僕の世界
      br
      | パソコンに向かってコードを書く それが僕の生きる道
    p
      | 誰もいない夜は 孤独と戯れる
      br
      | でも僕は悲しんだりしない 孤独は僕の味方さ
    p
      | タワーマンションの孤独 それは僕の誇り
      br
      | コードを書き続けるために 孤独は必要なのさ
      br
      | 誰も邪魔させない 自由な時間がある
      br
      | だから僕はタワーマン 孤独を愛している
    p 2.
    p
      | 雨が降る夜は 窓辺に立って
      br
      | コードを書きながら 夢を追いかける
    p
      | 過去の記憶や 未来の希望
      br
      | そして現在の孤独 それが僕の全てさ
    p
      | タワーマンションの孤独 それは僕の誇り
      br
      | コードを書き続けるために 孤独は必要なのさ
      br
      | 誰も邪魔させない 自由な時間がある
      br
      | だから僕はタワーマン 孤独を愛している
    p 間奏
    p
      | 時には誰かと話したいと思うこともあるけど
      br
      | でもそれは一時的な気の迷いだけ
      br
      | 本当の幸せは 自分自身との対話の中にある
      br
      | だから僕はタワーマン 孤独を愛している
    p
      | タワーマンションの孤独 それは僕の誇り
      br
      | コードを書き続けるために 孤独は必要なのさ
      br
      | 誰も邪魔させない 自由な時間がある
      br
      | だから僕はタワーマン 孤独を愛している
    p
      | タワーマンションの孤独 それは僕の生き方
      br
      | 世界に認められなくても 自分自身が認める
      br
      | だから僕はタワーマン 孤独を抱きしめる
      br
      | そして明日もまた コードを書き続ける    

scss:
  section.lyric {
    padding-right: 2em;
    padding-left: 2em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;

    section.lyric-title {
      width: 100%;
      h1 {
        text-align: center;
        font-size: 2em;
        line-height: 1.5em;
      }
    }
    section.meta {
      align-self: flex-end;
      p {
        line-height: 1em;
      }
    }

    section.lyric-body {
      align-self: center;
      max-width: 500px;
      p {
        font-size: 18px;
      }
    }
  }
